<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>twSblamPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>Antispam validator plugin</summary>
  <description>The `twSblamPlugin` is antispam validator plugin. It uses [Sblam](http://sblam.com/ "Sblam") antispam system to validate message. Is much better front line check system than Captcha. Captcha can be used as second test if SBLAM say propablu SPAM or SPAM to not angry users using to much links in their posts dor example.</description>
  <lead>
    <name>Arkadiusz Tułodziecki</name>
    <user>ldath</user>
    <email>atulodzi@gmail.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.2.0</min>
        <max>1.5.0</max>
        <exclude>1.5.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>0.0.3</release>
        <api>0.0.2</api>
      </version>
      <stability>
        <release>alpha</release>
        <api>alpha</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">
        MIT license
      </license>
      <date>2010-03-16</date>
      <license>MIT</license>
      <notes>
         * ldath: only documentation changes
      </notes>
    </release>
    <release>
      <version>
        <release>0.0.2</release>
        <api>0.0.2</api>
      </version>
      <stability>
        <release>alpha</release>
        <api>alpha</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">
        MIT license
      </license>
      <date>2010-03-16</date>
      <license>MIT</license>
      <notes>
         * ldath: rewriting SBLAM client php file for better use with symfony
         * ldath: first validator version
      </notes>
    </release>
    <release>
      <version>
        <release>0.0.1</release>
        <api>0.0.1</api>
      </version>
      <stability>
        <release>alpha</release>
        <api>alpha</api>
      </stability>
      <license uri="http://www.symfony-project.com/license">
        MIT license
      </license>
      <date>2010-03-07</date>
      <license>MIT</license>
      <notes>
         * ldath: Initial version
      </notes>
    </release>
  </changelog>
</package>